lightning==1.9.5
numpy>=1.26.0
h5py>=3.11.0
astropy>=6.1.0
scipy>=1.12.0
pandas>=2.2.0
tqdm>=4.66.0
sbi>=0.23.0
matplotlib>=3.9.0
seaborn>=0.13.0
tabulate>=0.9.0
wandb
omegaconf
python-dotenv
jsonargparse[signatures]>=4.27.7

